---
const { size } = Astro.props;

const fontType =
  size === "heavy" ? "Metropolis Semi Bold" : "Metropolis Regular";
---

<p><slot /></p>

<style define:vars={{ fontType }}>
  p {
    font-family: var(--fontType);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
</style>
