---
import { PrimaryButton } from "@components/Button/PrimaryButton";
import { SecondaryButton } from "@components/Button/SecondaryButton";

import DisplayText from "@components/Text/DisplayText/DisplayText.astro";
import P3 from "@components/Text/ParagraphText/P3.astro";
import SubheadingText from "@components/Text/SubheadingText/index.astro";

import "./hero.css";
---

<div class="gradient">
  <div class="hero-stack">
    <img
      style="padding: 0 125px"
      width="395px"
      src="/home-phone.png"
      alt="phone"
      class="phone"
    />
    <div class="first-question">
      <img src="/hero-patient-avatar.webp" class="hero-patient-avatar" />
      <P3>
        I have a weird rash on my forearm that has been growing for the last 3
        days. What could this be?</P3
      >
    </div>
    <div class="text-container">
      <DisplayText color="yellow">Real Answers</DisplayText>
      <DisplayText>from Real Doctors</DisplayText>
      <SubheadingText
        >Send your question via WhatsApp, and get a video response back.</SubheadingText
      >
      <div class="button-stack">
        <PrimaryButton client:load title="Ask a doctor" />
        <SecondaryButton client:load title="Learn more" />
      </div>
    </div>
  </div>
</div>
