---
import { captionTextStyle, captionTextStyleHeavy } from "./styles";

type Props = {
  size: "heavy" | "light";
};

const { size = "light" } = Astro.props;
---

<p style={size === "heavy" ? captionTextStyleHeavy : captionTextStyle}>
  <slot />
</p>
