---
import CaptionText from "@components/Text/CaptionText/index.astro";
import HamburgerMenu from "@components/HamburgerMenu";

import "./navbar.css";
import { PrimaryButton } from "@components/Button/PrimaryButton";
---

<nav class="container">
  <div class="hamburger-menu">
    <HamburgerMenu client:visible />
  </div>

  <div class="items-container">
    <img src="/elevar-logo-56px.svg" class="elevar-logo" />
    <CaptionText href="/" size="heavy">Book a consultation</CaptionText>
  </div>

  <div class="ask-doctor-button">
    <PrimaryButton
      title="Ask a doctor"
      onClick={"() => window?.open(`https://api.whatsapp.com/send?phone=14155238886`)"}
      client:load
    />
  </div>
</nav>
