---
import { displayTextStyle, displayTextStyleColor } from "./styles";

const { color } = Astro.props;
---

<h1 style={color === "yellow" ? displayTextStyleColor : displayTextStyle}>
  <slot />
</h1>
